
/*STYLING OF THE NAV*/

body {
  box-sizing: border-box;
  margin: 0;
    width: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
}
nav{
	width: 100%;
	height: 57px;
/*	position: fixed;*/
	background-color: white;
    z-index: 1;
    margin: 0;

}
nav a{
     color:black;
}
.navContent{
  
    width: 100%;
   padding: 20px;
    
    text-align: center;
    box-sizing: border-box;
} 
.rightLinks{
    float: right;
    
}
.leftLinks{
    float:left;
    margin-left: -14px;
 
}
.menu , .search,.leftLinks > a{
    margin-left:6px; 
    text-decoration: none;
    background: transparent;
    border: none;
    font-size: 16px;
}
.menuTitle {
    display:inline-block;
}
.menu , .search{
   height:30px; 
}
.search > img,.menu > img {
	   height:16px; 
}
.menu:hover{
    background: #F7F7F7;
    height:30px;
}
.search:hover{
    background: #F7F7F7;
    height:30px;
}
.link1:hover{
   text-decoration: underline;
}

.menuTitle >a {
    text-decoration: none;
    font-size: 25px
}
.rightLinks >button > a {
	text-decoration: none;
     color: white;
       font-size:11px;
}
.rightLinks > button {
	background: #6288A5;
    height: 30px;
    border: none;
    border-radius: 4px;
}








/*
STYLING OF THE MAIN TAG*/


.banner{
    display: flex;
    width: 100%;
    height: 310px;
    background: #F7F7F7;
    border: 1px red solid;
    margin-top: 20px;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 11%;
    padding-top: 2%;
    
}
.bannerImg >img {
	height: 268px
        
    
}
.bannerLinks{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 40px;
}

.bannerLinks > a{
   margin-top: 20px;
    color: black;
    
}

.bannerLinks > button{
   margin-top: 20px;
    border: none;
    height: 30px;
    background: #0066FF;
    color: white;
}








